name: portable-release-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*' # Push events to matching v*, i.e. v1.0, v20.15.10
      
permissions:
  contents: write
  
jobs:
  build:
    name: Create Release
    runs-on: windows-latest
    env:
      targetZip: wechat-portable-${{ github.ref_name }}.zip
    steps:
      - uses: actions/checkout@v4
      
      # - name: installer
      #   shell: cmd
      #   run: |
      #     curl https://dldir1v6.qq.com/weixin/Windows/WeChatSetup.exe -L --output WeChatSetup.exe &&^
      #     dir

      - name: installer 
        shell: cmd
        run: | 
          curl https://dldir1v6.qq.com/weixin/Universal/Windows/WeChatWin_4.1.2.exe --output WeChatSetup.exe &&^
          dir
          
      - name: uncompress 
        shell: cmd
        run: | 
          7z.exe x WeChatSetup.exe -o"installation" &&^
          cd installation &&^
          7z.exe x install.7z -o"installation" &&^
          dir
          
      - name: remove junk
        shell: cmd
        run: |
          cd installation\installation\ &&^
          del /s /q Uninstall.exe &&^
          dir
          
      - shell: cmd
        run: xcopy /H /Y /C "WeChat.exe.Portable.cmd" "installation\installation"
          
      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          directory: "installation/installation"
          filename: "${{ env.targetZip }}"
          
      - name: Release prebuilt
        uses: ncipollo/release-action@v1
        with:
          artifacts: "installation/installation/${{ env.targetZip }}"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
